body {
    background: #f8f8f6;
    font-family: 'Assistant', sans-serif;
    color: black;
    overflow-x: hidden;
}

// NAVBAR

.navbar-brand {
    img {
        max-height: 40px;
    }
}

.bg-white {
    background-color: #f8f8f6;
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #630000; 

            &.active {
                font-weight: bold;
                color: #630000 !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #630000;
    color: #f8f8f6;

    &:hover {
        background-color: #9A0000;
        color: #f8f8f6;
    }
}

// END NAVBAR

// HEADER

header {
    padding: 180px 0px 165px;
    margin-top: -70px;
    background-image: url('../images/new_header.png');
    background-size: cover;

    h1,
    p {
        color: #fff;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started {
        background-color: #630000 ;
        color: #eeebdd;

        &:hover {
            background-color: #9A0000;
            color: #eeebdd;
        }
    }
}

// END HEADER

// STATISTICS (MAIN)
// .section-stats {
//     margin-top: -50px;

//     .stats-detail {
//         padding-top: 15px;
//         padding-left: 40px;
//         background-color: #fff;
//     }

//     h2 {
//         font-size: 30px;
//         margin-bottom: 0;
//     }

//     p {
//         font-size: 20px;
//         font-weight: lighter;
//     }
// }

// END STATISTICS (MAIN)

// POPULAR (MAIN)

.section-popular {
    min-height: 540px;
    background-color: #500000;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 100px;
    }

    h2,
    p {
        color: #fff;
    }

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}

.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: #fff;
            color: #fff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
            border-radius: 5px;
        }

        .travel-country {
            font-size: 18px;
            color: black;
            border-top-left-radius: 5%;
            border-top-right-radius: 5%;
        }

        .travel-location {
            font-size: 26px;
            color: black;
            border-bottom-left-radius: 5%;
            border-bottom-right-radius: 5%;
        }

        .travel-country, .travel-location {
            background-color:rgba(255, 255, 255, 0.8);
        }

        .travel-button {
            .btn-travel-details {
                background-color: #630000 ;
                color: #eeebdd;
        
                &:hover {
                    background-color: #9A0000;
                    color: #eeebdd;
                }
            }
        }
    }
}

// END POPULAR (MAIN)

// NETWORKS (MAIN)

.section-networks {
    background-color: #fff;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    img {
        max-width: 100%;
    }
}

// END NETWORKS (MAIN)

// TESTIMONIAL (MAIN)

.section-testimonial-heading {
    background: #f8f8f6;
    padding-top: 50px;
    min-height: 506px;

    h2 {
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}

.section-testimonial-content {
    background: linear-gradient(#f8f8f6 0%, #eeebdd 100%);
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .testimonial-content {
            min-height: 380px;
        }

        h3 {
            font-size: 22px;
        }

        .testimonial {
            font-weight: 200;
            font-size: 26px;
            color: #6e6e6e;
            min-height: 200px;
        }

        .trip-to {
            font-weight: normal;
            font-size: 22px;
            color: #6e6e6e;
        }

        hr {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .carousel-control-next,
    .carousel-control-prev /*, .carousel-indicators */ {
        filter: invert(100%);
    }

    .btn-help {
        background-color: #f2f2f2;
        color: #c3c3c3;

        &:hover {
            background-color: #fafafa;
            color: #c3c3c3;
        }
    }

    .btn-get-started {
        background-color: #630000 ;
        color: #eeebdd;

        &:hover {
            background-color: #9A0000;
            color: #eeebdd;
        }
    }
}

// END TESTIMONIAL (MAIN)

// FOOTER
.bg-red {
    background-color: #630000;
}

.section-footer {
    border-top: 1px solid gray;
    a {
        color: #630000;
    }

    .container-fluid {
        color: #f8f8f6;
    }
}

// END FOOTER

// DETAILS AND CHECKOUT SECTION (MAIN)
.section-details-header {
    min-height: 310px;
    background: #e4e6eb;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }

    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #630000;
        }
    }

    .card-details {
        color: #630000;
        padding: 30px;
        border-radius: 11px;

        h1 {
            font-size: 26px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
            color: #b1b1b1;
        }

        h3 {
            font-weight: 300;
            font-size: 14px;
            color: #071c4d;
        }

        .trip-informations {
            th {
                font-weight: 300;
                font-size: 18px;
                color: #071c4d;
            }

            td {
                font-weight: 300;
                font-size: 18px;
                color: #b1b1b1;
            }

            .text-red {
                color: #630000;
                font-weight: bold;
            }

            .text-orange {
                color: #ff9e53;
                font-weight: bold;
            }
        }

        .payment-instructions {
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }

        .bank {
            .bank-item {
                h3 {
                    font-size: 18px;
                    color: #071c4d;
                    margin-bottom: 0;
                }

                p {
                    margin-bottom: 0;
                }

                .description {
                    margin-left: 10px;
                    overflow: hidden;
                    float: left;

                    p {
                        font-weight: normal;
                        font-size: 16px;
                        color: #071c4d;
                    }
                }
            }

            .bank-image {
                width: 45px;
                height: 45px;
                float: left;
            }
        }

        .disclaimer {
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }

        .gj-datepicker {
            .datepicker {
                border-right: 0;
            }

            .input-group-append {
                .btn {
                    padding-right: 30px;
                    height: 38px;
                }
            }
        }

        .btn-add-now {
            background-color: #630000 ;
            color: #eeebdd;
    
            &:hover {
                background-color: #9A0000;
                color: #eeebdd;
            }
        }
    }

    .card-right {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .features {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid gray;

        h3 {
            font-size: 18px;
            color: #071c4d;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }

        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;

        }

        .features-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }

    .gallery {
        .xzoom-container {
            display: block;

            .xzoom {
                width: 100%;
                box-shadow: none;
                margin-bottom: 10px;
            }

            .xactive {
                border: 4px solid #9A0000;
                box-shadow: none;
            }
        }
    }

    .members {
        .member-image {
            width: 40px;
            height: 40px;
        }
    }

    .join-container {
        margin-top: -16px;
    }

    .cancel-container {
        margin-top: -20px
    }

    .btn-join-now {
        margin-bottom: 30px;
        background-color: #630000;
        color: #f8f8f6;
        border-radius: 0px 0px 11px 11px;

        &:hover {
            background-color: #9A0000;
            color: #f8f8f6;
        }
    }
}

// END OF DETAILS SECTION (MAIN)

// SUCCESS SECTION (MAIN)
.section-success {
    height: 90vh;

    img {
        margin-top: 150px;
    }

    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #630000;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
    }

    .btn-home-page {
        background-color: #630000;
        color: #f8f8f6;
        border-radius: 4px;

        &:hover {
            background-color: #9A0000;
            color: #f8f8f6;
        }
    }
}

// END OF SUCCESS SECTION (MAIN)
